<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Wholesale price:</strong>
  <%= @item.wholesale_price %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @item.retail_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Item profits:</strong>
  <%= @profits %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
